# Retail Data Wrangling and Analytics

In [1]:
# Import modules 
import pandas as pd
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
from sqlalchemy import create_engine

# Load Data from PSQL into DataFrame

**Setup Docker Containers**

![](https://i.imgur.com/VQrBVBk.jpg)

```
#make sure you have both Jupyter and PSQL docker container running
docker ps

#Attach a bridge network to both containers so they can communicate with each other
docker network create jarvis-net
#this command works on running containers
docker network connect jarvis-net jarvis-jupyter
docker network connect jarvis-net jarvis-psql

#verify both containers are attached to the jarvis-net
docker network inspect trading-net

#Note: instead of using `localhost`, you should use container names as hostnames.
```

**Data Preperation**

- Use [pandas.read_sql](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_sql.html) api to load the PSQL retail table into a Pandas DataFrame

![](https://i.imgur.com/AmkAP63.jpg)

- Get familair with the transaction date with `df.head()`, `df.sample(10)`, `df.info()`, `df.describe()`, etc..

In [2]:
#install psql "driver"
!pip3 install psycopg2-binary

Requirement already satisfied: psycopg2-binary in /opt/conda/lib/python3.8/site-packages (2.9.1)

In [3]:
engine_string = "postgresql://postgres:password@172.21.0.2:5432/postgres"
engine = create_engine(engine_string)
retail_df = pd.read_sql_table("retail", engine)
retail_df.head()

,invoice_no,stock_code,description,quantity,invoice_date,unit_price,customer_id,country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom

In [4]:
retail_df.info()
print("----------------------------------------------------------")
retail_df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1067371 entries, 0 to 1067370
Data columns (total 8 columns):
 #   Column        Non-Null Count    Dtype
---  ------        --------------    -----
 0   invoice_no    1067371 non-null  object
 1   stock_code    1067371 non-null  object
 2   description   1062989 non-null  object
 3   quantity      1067371 non-null  int64
 4   invoice_date  1067371 non-null  datetime64[ns]
 5   unit_price    1067371 non-null  float64
 6   customer_id   824364 non-null   float64
 7   country       1067371 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 65.1+ MB
----------------------------------------------------------

           quantity    unit_price    customer_id
count  1.067371e+06  1.067371e+06  824364.000000
mean   9.938898e+00  4.649388e+00   15324.638504
std    1.727058e+02  1.235531e+02    1697.464450
min   -8.099500e+04 -5.359436e+04   12346.000000
25%    1.000000e+00  1.250000e+00   13975.000000
50%    3.000000e+00  2.100000e+00   15255.000000
75%    1.000000e+01  4.150000e+00   16797.000000
max    8.099500e+04  3.897000e+04   18287.000000

# Load CSV into Dataframe
Alternatively, the LGS IT team also dumped the transactional data into a [CSV file](https://raw.githubusercontent.com/jarviscanada/jarvis_data_eng_demo/feature/data/python_data_wrangling/data/online_retail_II.csv). However, the CSV header (column names) doesn't follow the snakecase or camelcase naming convention (e.g. `Customer ID` instead of `customer_id` or `CustomerID`). As a result, you will need to use Pandas to clean up the data before doing any analytics. In addition, unlike the PSQL scheme, CSV files do not have data types associated. Therefore, you will need to cast/convert certain columns into correct data types (e.g. DateTime, numbers, etc..)

**Data Preperation**

- Read the `data/online_retail_II.csv` file into a DataFrame
- Rename all columns to upper camelcase or snakecase
- Convert/cast all columns to the appropriate data types (e.g. datetime)

In [5]:
retail_df = pd.read_csv("online_retail_II.csv")
retail_df.columns = ['invoice_no', 'stock_code', 'description', 'quantity', 'invoice_date', 'unit_price', 'customer_id', 'country']
retail_df['invoice_date'] = retail_df['invoice_date'].astype('datetime64')
retail_df.head()
retail_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1067371 entries, 0 to 1067370
Data columns (total 8 columns):
 #   Column        Non-Null Count    Dtype
---  ------        --------------    -----
 0   invoice_no    1067371 non-null  object
 1   stock_code    1067371 non-null  object
 2   description   1062989 non-null  object
 3   quantity      1067371 non-null  int64
 4   invoice_date  1067371 non-null  datetime64[ns]
 5   unit_price    1067371 non-null  float64
 6   customer_id   824364 non-null   float64
 7   country       1067371 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 65.1+ MB

# Total Invoice Amount Distribution

In [6]:
def total_price(row):
    total = row['unit_price']*row['quantity']
    return total

def show_distribution(var_data):
    # Get statistics
    min_val = var_data.min()
    max_val = var_data.max()
    mean_val = var_data.mean()
    med_val = var_data.median()
    mod_val = var_data.mode()[0]

    print('Minimum:{:.2f}\nMean:{:.2f}\nMedian:{:.2f}\nMode:{:.2f}\nMaximum:{:.2f}\n'.format(min_val,
                                                                                            mean_val,
                                                                                            med_val,
                                                                                            mod_val,
                                                                                            max_val))

    # Create a figure for 2 subplots (2 rows, 1 column)
    fig, ax = plt.subplots(2, 1, figsize = (10,4))

    # Plot the histogram   
    ax[0].hist(var_data)
    ax[0].set_ylabel('Frequency')

    # Add lines for the mean, median, and mode
    ax[0].axvline(x=min_val, color = 'gray', linestyle='dashed', linewidth = 2)
    ax[0].axvline(x=mean_val, color = 'cyan', linestyle='dashed', linewidth = 2)
    ax[0].axvline(x=med_val, color = 'red', linestyle='dashed', linewidth = 2)
    ax[0].axvline(x=mod_val, color = 'yellow', linestyle='dashed', linewidth = 2)
    ax[0].axvline(x=max_val, color = 'gray', linestyle='dashed', linewidth = 2)

    # Plot the boxplot   
    ax[1].boxplot(var_data, vert=False)
    ax[1].set_xlabel('Value')

    # Add a title to the Figure
    fig.suptitle('Data Distribution')

    # Show the figure
    fig.show()

In [ ]:
retail_df['total_price'] = retail_df.apply(lambda row: total_price(row), axis=1)

invoice_amount = retail_df.groupby(by='invoice_no')['total_price'].sum()
invoice_amount = invoice_amount[invoice_amount > 0]

show_distribution(invoice_amount)
show_distribution(invoice_amount[invoice_amount < invoice_amount.quantile(0.85)])

# Monthly Placed and Canceled Orders

In [ ]:
retail_df['yyyymm'] = retail_df['invoice_date'].dt.strftime('%Y%m')
monthly_cancelled = retail_df[retail_df['invoice_no'].str.startswith('C')].groupby('yyyymm').invoice_no.nunique()
monthly_placements = retail_df.groupby('yyyymm').invoice_no.nunique() - 2*monthly_cancelled

df = pd.concat([monthly_placements, monthly_cancelled], axis = 1)
df.columns = ['Placements', 'Cancellations']
df['InvoiceYearMonth'] = monthly_placements.index

df.plot(x='InvoiceYearMonth', y=['Placements', 'Cancellations'], kind = 'bar', figsize=(15,10))

# Monthly Sales

In [ ]:
sales = retail_df.groupby('yyyymm').sum()['total_price']
line = sales.plot(x='Month', y="Sales (Millions)", kind = 'line', x_compat=True, figsize=(15,10))

line.set_xlabel("Month")
line.set_xticks(range(len(sales)));
line.set_xticklabels(["%s" % item for item in sales.index.tolist()], rotation=90);

line.set_ylabel("Sales (Millions)")
line.set_title("Monthly Sales")

# Monthly Sales Growth

In [ ]:
growth = sales.diff().dropna() / sales.shift(1).dropna()

line = growth.plot(x='Month', y="Growth", kind = 'line', x_compat=True, figsize=(15,10))

line.set_xlabel("Month")
line.set_xticks(range(len(growth)));
line.set_xticklabels(["%s" % item for item in growth.index.tolist()], rotation=90);

line.set_ylabel("Growth")
line.set_title("Monthly Growth")

# Monthly Active Users

In [ ]:
df = retail_df.groupby('yyyymm').customer_id.nunique()
bar = df.plot(x='Year Month', y="# Of Active Users", kind = 'bar', figsize=(15,10))
bar.set_xlabel("Year Month")
bar.set_ylabel("# Of Active Users")
bar.set_title("Monthly Active Users")

# New and Existing Users

In [ ]:
customer_start = retail_df.groupby('customer_id').min()
customer_start['customer_id'] = customer_start.index
customer_start = customer_start[['yyyymm', 'customer_id']]
customer_start = customer_start.groupby('yyyymm').count()

existing_customers = (retail_df.groupby('yyyymm').customer_id.nunique() - customer_start.T).T

df = pd.concat([customer_start, existing_customers], axis = 1)
df.columns = ['NewUserCount', 'ExUserCount']
df['InvoiceYearMonth'] = df.index

df.plot(x='InvoiceYearMonth', y=['NewUserCount', 'ExUserCount'], kind = 'bar', figsize=(15,10))

In [ ]:
from datetime import date

def find_recency(row):
    ts = row.invoice_date
    return (date.today() - date(ts.year, ts.month, ts.day)).days

In [ ]:
#Recency w.r.t. current date
recency = retail_df.groupby('customer_id').max()
recency = recency.apply(lambda row: find_recency(row), axis=1)

#Frequency of purchases
frequency = retail_df.groupby('customer_id').invoice_no.nunique()

#Monetary value
monetary = retail_df.groupby('customer_id').sum()['total_price']

#RFM
rfm_table = pd.concat([recency, frequency, monetary], axis = 1)
rfm_table.columns = ['recency', 'frequency', 'monetary']
rfm_table

# RFM Segmentation

In [ ]:
#RFM score values 
rfm_table['recency_score'] = pd.qcut(rfm_table['recency'],5,labels=[5,4,3,2,1])
rfm_table['frequency_score'] = pd.qcut(rfm_table['frequency'].rank(method="first"),5,labels=[1,2,3,4,5])
rfm_table['monetary_score'] = pd.qcut(rfm_table['monetary'],5,labels=[1,2,3,4,5])

#calculation of the RFM score
rfm_table["RFM_SCORE"] = rfm_table['recency_score'].astype(str) + rfm_table['frequency_score'].astype(str) + rfm_table['monetary_score'].astype(str)

#segmenting of customers according to RecencyScore and FrequencyScore values
seg_map = {
    r'[1-2][1-2]': 'Hibernating',
    r'[1-2][3-4]': 'At Risk',
    r'[1-2]5': 'Can\'t Lose',
    r'3[1-2]': 'About to Sleep',
    r'33': 'Need Attention',
    r'[3-4][4-5]': 'Loyal Customers',
    r'41': 'Promising',
    r'51': 'New Customers',
    r'[4-5][2-3]': 'Potential Loyalists',
    r'5[4-5]': 'Champions'
}

#creation of segment variable
rfm_table['segment'] = rfm_table['recency_score'].astype(str) + rfm_table['frequency_score'].astype(str)
rfm_table['segment'] = rfm_table['segment'].replace(seg_map, regex=True)

rfm_table[["segment", "recency","frequency","monetary"]].groupby("segment").agg(["mean","count"])